terraform {
  backend "s3" {
    bucket         = "{{ s3_bucket_name }}"
    key            = "{{ terraform_state_key }}"
    region         = "{{ region }}"
    dynamodb_table = "{{ dynamodb_table_name }}"
    encrypt        = true
  }
}

